In [12]:
import pandas as pd
grocery = pd.read_csv("main.csv")
grocery.head()

,product_code,product_description,product_group,sales_date,price,sales_quantity,unit
0,1001,tomato,vegetable,2021-11-01,2.99,36,kg
1,1001,tomato,vegetable,2021-11-02,2.99,23,kg
2,1001,tomato,vegetable,2021-11-03,2.99,34,kg
3,1001,tomato,vegetable,2021-11-04,2.99,23,kg
4,1001,tomato,vegetable,2021-11-05,2.99,34,kg

In [21]:
grocery["sales_amount"]=grocery["sales_quantity"].where(

grocery["unit"] != "pcs", grocery["product_description"].str.split("-", expand=True)[1]. astype("float") * \ grocery["sales_quantity"] )

SyntaxError: unexpected character after line continuation character (3219845453.py, line 3)

In [22]:
grocery.tail()

,product_code,product_description,product_group,sales_date,price,sales_quantity,unit
295,1203,butter-0.25,dairy,2021-11-26,11.9,31,pcs
296,1203,butter-0.25,dairy,2021-11-27,11.9,29,pcs
297,1203,butter-0.25,dairy,2021-11-28,11.9,37,pcs
298,1203,butter-0.25,dairy,2021-11-29,11.9,34,pcs
299,1203,butter-0.25,dairy,2021-11-30,11.9,36,pcs